h1 {
  font-family: atial, "Times New Roman";
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  text-align: left;
  text-decoration: underline;
  text-indent: 30px;
  text-transform: lowercase;
  color: #0000CD;
  word-spacing: 10px;
  line-height: 40xp;
}

p {
  font-size: 22px;
  line-height: 40px;
}

a {
  text-decoration: none;
}
